//------------ Main block -------------
<<<<<<< HEAD
section.workspace
	h1.workspace__title Генератор водяных знаков
	.workspace__unit
include _sidebar
=======

section.workspace
	h1.workspace__title Генератор водяных знаков
	.workspace__unit
include _sidebar
>>>>>>> origin/markup
