
//------------ Main block -------------
section.workspace
<<<<<<< HEAD
  h1.workspace__title(data-translate="watermarkGenerator") Генератор водяных знаков
  .workspace__unit
    .workspace__square

include _sidebar
