//------------ Main block -------------
section.workspace
  h1.workspace__title Генератор водяных знаков
  .workspace__unit
    // Просто тестовый блок
    .workspace__square(class="dragElement ui-widget ui-corner-all ui-state-error")
include _sidebar

