
//------------ Main block -------------
section.workspace
	h1.workspace__title(data-translate="watermarkGenerator") Генератор водяных знаков
	.workspace__unit
		.workspace__background
			.workspace__watermark

include _sidebar
