.inputs
  .picture__section
    span.picture__section-name
      |Исходное изображение
    span.fake__input
      span.fake__placeholder
        |Загрузите изображение    
    label(for="fileupload", class="").fileupload__label
      input(type="file", id="fileupload" name="name", value="", accept="image/jpeg,image/png,image/gif").fileupload__input  
  .watermark__section
    .watermark__section_disable
    span.watermark__section-name
      |Водяной знак
    span.fake__input
      span.fake__placeholder
        |Загрузите изображение
    label(for="watermark", class="").fileupload__label
      input(type="file", name="name", id="watermark" value="", accept="image/jpeg,image/png,image/gif").fileupload__input

