.sidebar-buttons
	.sidebar-buttons__buttons-row
		.sidebar-buttons__buttons-row_disable
		button.button.reset-btn(data-translate="resetEng") Сброс
		button.button.download-btn(data-translate="downloadEng") Скачать
