.sidebar__position
	.sidebar__position_title Положение
	.sidebar__position_content
		.sidebar__position_square
			table.sidebar__position_table
				tr.sidebar__position_tr
					td.sidebar__position_td
					td.sidebar__position_td
					td.sidebar__position_td
				tr.sidebar__position_tr
					td.sidebar__position_td
					td.sidebar__position_td
					td.sidebar__position_td
				tr.sidebar__position_tr
					td.sidebar__position_td
					td.sidebar__position_td
					td.sidebar__position_td
		.sidebar__position_coordinates
			.sidebar__position_coordinate-x
				.sidebar__position_coordinate-block.coordinateX
			.sidebar__position_coordinate-y
				.sidebar__position_coordinate-block.coordinateY
img(src="/img/line.png").sidebar__line