.sidebar-position
	.sidebar-position-title Положение
	.sidebar-position-content
		.sidebar-position-square
			ul.sidebar-position-list
				li.sidebar-position__item
					a(src="#" data-position="top-left").sidebar-position__link.top-left
				li.sidebar-position__item
					a(src="#" data-position="top-center").sidebar-position__link.top-center
				li.sidebar-position__item
					a(src="#" data-position="top-right").sidebar-position__link.top-right
				li.sidebar-position__item
					a(src="#" data-position="middle-left").sidebar-position__link.middle-left
				li.sidebar-position__item
					a(src="#" data-position="middle-center").sidebar-position__link.middle-center
				li.sidebar-position__item
					a(src="#" data-position="middle-right").sidebar-position__link.middle-right
				li.sidebar-position__item
					a(src="#" data-position="bottom-left").sidebar-position__link.bottom-left
				li.sidebar-position__item
					a(src="#" data-position="bottom-center").sidebar-position__link.bottom-center
				li.sidebar-position__item
					a(src="#" data-position="bottom-right").sidebar-position__link.bottom-right
		.sidebar-position-coordinates
			.wrapper-position
				label.sidebar-position__coordinate-labelX
					input.position-input.coordinateX
				.position-arrow
					.position-arrow__up
					.position-arrow__down
			.wrapper-position
				label.sidebar-position__coordinate-labelX
					input.position-input.coordinateX
				.position-arrow
					.position-arrow__up
					.position-arrow__down
