.sidebar__position
	.sidebar__position_title Положение
	.sidebar__position_content
		.sidebar__position_square
			table.sidebar__position_table
				tr.sidebar__position_tr
					td.sidebar__position_td
					td.sidebar__position_td
					td.sidebar__position_td
				tr.sidebar__position_tr
					td.sidebar__position_td
					td.sidebar__position_td
					td.sidebar__position_td
				tr.sidebar__position_tr
					td.sidebar__position_td
					td.sidebar__position_td
					td.sidebar__position_td
		.sidebar__position_coordinates
			.wrapper__position
				label.sidebar__position_coordinate-labelX
					input.position_input.coordinateX
				.position__arrow
					.position__arrow_up
					.position__arrow_down
			.wrapper__position
				label.sidebar__position_coordinate-labelY
					input.position_input.coordinateY
				.position__arrow
					.position__arrow_up
					.position__arrow_down
