.inputs
  .picture__section
    span.picture__section-name
      |Исходное изображение
    span.fake__input
      span.fake__placeholder
        |Загрузите изображение    
    label(for="fileupload", class="").fileupload__label
      input(id="fileupload" type="file" name="files[0]" multiple="").fileupload__input  
  .watermark__section
    .watermark__section_disable
    span.watermark__section-name
      |Водяной знак
    span.fake__input
      span.fake__placeholder
        |Загрузите изображение
    label(for="watermark", class="").fileupload__label
      input(id="fileupload" type="file" name="files1[]" value="", accept="image/jpeg,image/png,image/gif").fileupload__input

