.sidebar-position
	.sidebar-position-title Положение
	.sidebar-position-content
		.sidebar-position-square
			ul.sidebar-position-list
				li.sidebar-position__item
					a(href="#" data-position="left top").sidebar-position__link.top-left
				li.sidebar-position__item
					a(href="#" data-position="center top").sidebar-position__link.top-center
				li.sidebar-position__item
					a(href="#" data-position="right top").sidebar-position__link.top-right
				li.sidebar-position__item
					a(href="#" data-position="left center").sidebar-position__link.middle-left
				li.sidebar-position__item
					a(href="#" data-position="center center").sidebar-position__link.middle-center
				li.sidebar-position__item
					a(href="#" data-position="right center").sidebar-position__link.middle-right
				li.sidebar-position__item
					a(href="#" data-position="left bottom").sidebar-position__link.bottom-left
				li.sidebar-position__item
					a(href="#" data-position="center bottom").sidebar-position__link.bottom-center
				li.sidebar-position__item
					a(href="#" data-position="right bottom").sidebar-position__link.bottom-right
		.sidebar-position-coordinates
			.wrapper-position
				input.position-input.coordinateX
			.wrapper-position
				input.position-input.coordinateY