//-----------------------------------------------------------------------
//		This file contains all application-wide Sass mixins.
//-----------------------------------------------------------------------


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}