<!DOCTYPE html>
html(lang="ru-RU")
  include head

  body
    .wrapper
      block content
        
    footer.footer
      include ../blocks/_footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="js/vendor.js")
    script(src="js/main.js")